.idea/

dataset/all_data_unclean.json
dataset/id_name.json
dataset/name_desc.json
dataset/__pycache__/
dataset/chars.txt
dataset/vocab.txt
dataset/glove.840B.300d.filtered.npz
dataset/entity_names.txt
dataset/name_desc.json
dataset/train.json
dataset/dev.json
dataset/test.json
dataset/previous/
ckpt/
ckpt1/
ckpt2/
ckpt3/